.env
*.json
# model data:
# mlruns/*

# data
*.csv
*.db
.DS_Store
notebooks/mlruns/*
*.sqlite3




# experimental notebooks
app.ipynb
mlruns_old/
model_pipeline.py


# cache
__pycache__/
utils/__pycache__
*/__pycache__/*
*.pyc

tmp/