.env

# model data:
mlruns/.trash
mlruns/0
mlruns/42*

# data
#*.csv
#data/
data/ibm_4y.csv
data/ibm_6y.csv
.DS_Store
notebooks/mlruns/*
*.sqlite3

# experimental notebooks
app.ipynb

# cache
__pycache__/
*/__pycache__/*
*.pyc

