# users
PINKEYKEY=
BRAINKEY=
PINKEYHASH=
BRAINHASH=

# database
DATA_PATH=data
ORIGINAL_CSV=ibm_4y.csv
DATA_FILE=clean_cc_data.csv
DATA_FOLDER=

DATABASE_FILE_NAME=fraud_transactions    
DATABASE=postgresql://inbalshalev@localhost:5432/fraud_transactions

# mlflow:
MLFLOW_TRACKING_USERNAME=Pinkey
MLFLOW_TRACKING_PASSWORD=PINKEYKEY

