# users
PINKEYKEY=
BRAINKEY=
PINKEYHASH=
BRAINHASH=

# database
DATA_PATH=data
ORIGINAL_CSV=ibm_4y.csv
DATA_FILE=clean_cc_data.csv
DATA_FOLDER=

DATABASE_FILE_NAME=fraud_transactions.db    
DATABASE=sqlite:///data/fraud_transactions.db    
DATABASE_FULL_PATH=

# mlflow:
MLFLOW_TRACKING_USERNAME=Pinkey
MLFLOW_TRACKING_PASSWORD=PINKEYKEY

GCP_CREDENTIALS_JSON={"token": "", "refresh_token": "", "token_uri": "https://oauth2.googleapis.com/token", "client_id": "", "client_secret": "", "scopes": ["https://www.googleapis.com/auth/drive"], "expiry": ""}

GCP_FOLDER_ID=