{% extends "base.html" %}
{% block title %}login page{% endblock %}
{% block content %}
<h1>Login</h1>
<p>are you Pinky or Brain? get your credentials from Readme, and have fun predicting</p>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<form action="#" method="POST">
    <p>Enter username and passowrd:</p>

    {{ form.hidden_tag() }}
    {{ form.username() }}
    <br>
    {{ form.password() }}
    <br>
    {{ form.submit() }}
</form>
{% endblock %}

